table, th, td {
  border: 1px solid green;
  font-size:1.7em;
}

td {
  text-align: center;
  vertical-align: middle;
  padding:5px;
  }

table
{
border-collapse:collapse;
font-family:"Arial", Arial, Helvetica, sans-serif;
width:100%;
font-weight:bold;
}

th
{
background-color:green;
color:white;
}

th.alt
{
background-color:green;
color:yellow;
}

th.rd
{
background-color:green;
font-size:75%;
color:red;
}

tr.alt, td
{
color:#000000;
background-color:#EAF2D3;
}